# Pandas Exercises Notebook

This notebook contains exercises to practice working with Pandas DataFrames. Each exercise includes a problem description and space for your solution.

First, let's import the required libraries:

In [1]:
import pandas as pd
import numpy as np

## Exercise 1: Creating DataFrames

Create a DataFrame representing student grades with the following data:
- Names: Alice, Bob, Charlie
- Subjects: Math, Science, English
- Grades: Random numbers between 60 and 100

In [2]:
# Your solution here
np.random.seed(42)  # For reproducibility
data = {
    'Math': np.random.randint(60, 100, 3),
    'Science': np.random.randint(60, 100, 3),
    'English': np.random.randint(60, 100, 3)
}
index = ['Alice', 'Bob', 'Charlie']
df = pd.DataFrame(data, index=index)
df

         Math  Science  English
Alice      98       67       78
Bob        88       80       82
Charlie    74       98       70

## Exercise 2: Basic Statistics

Using the grades DataFrame:
1. Calculate the mean grade for each student
2. Find the highest grade in each subject
3. Calculate the standard deviation for each subject

In [3]:
# Mean grade per student
print("Mean grades per student:")
print(df.mean(axis=1))

# Highest grade per subject
print("\nHighest grade per subject:")
print(df.max())

# Standard deviation per subject
print("\nStandard deviation per subject:")
print(df.std())

Mean grades per student:
Alice     81.00
Bob       83.33
Charlie   80.67
dtype: float64

Highest grade per subject:
Math       98
Science    98
English    82
dtype: int64

Standard deviation per subject:
Math      12.06
Science   15.57
English    6.11
dtype: float64

## Exercise 3: Data Filtering

Create a new DataFrame with sales data and practice filtering:
1. Create a sales DataFrame with columns: 'Product', 'Category', 'Price', 'Units_Sold'
2. Filter products that sold more than 100 units
3. Find products with price greater than the average price

In [4]:
# Create sales DataFrame
sales_data = {
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Headphones'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories'],
    'Price': [1200, 800, 500, 300, 150],
    'Units_Sold': [50, 120, 80, 200, 150]
}
sales_df = pd.DataFrame(sales_data)

# Products with more than 100 units sold
print("Products with more than 100 units sold:")
print(sales_df[sales_df['Units_Sold'] > 100])

# Products with above-average price
avg_price = sales_df['Price'].mean()
print("\nProducts with above-average price:")
print(sales_df[sales_df['Price'] > avg_price])

Products with more than 100 units sold:
      Product     Category  Price  Units_Sold
1       Phone  Electronics    800         120
3       Watch  Accessories    300         200
4  Headphones  Accessories    150         150

Products with above-average price:
  Product     Category  Price  Units_Sold
0  Laptop  Electronics   1200          50
1   Phone  Electronics    800         120

## Exercise 4: Grouping and Aggregation

Using the sales DataFrame from Exercise 3:
1. Group by Category and calculate total units sold
2. Find the average price per category
3. Get the product with highest sales (units Ã— price) in each category

In [5]:
# Total units sold per category
print("Total units sold per category:")
print(sales_df.groupby('Category')['Units_Sold'].sum())

# Average price per category
print("\nAverage price per category:")
print(sales_df.groupby('Category')['Price'].mean())

# Calculate total sales and find highest per category
sales_df['Total_Sales'] = sales_df['Price'] * sales_df['Units_Sold']
print("\nProduct with highest sales in each category:")
print(sales_df.loc[sales_df.groupby('Category')['Total_Sales'].idxmax()])

Total units sold per category:
Category
Accessories    350
Electronics    250
Name: Units_Sold, dtype: int64

Average price per category:
Category
Accessories   225.00
Electronics   833.33
Name: Price, dtype: float64

Product with highest sales in each category:
  Product     Category  Price  Units_Sold  Total_Sales
3   Watch  Accessories    300         200        60000
1   Phone  Electronics    800         120        96000

## Exercise 5: Data Cleaning and Transformation

Practice data cleaning with a new DataFrame containing some missing and duplicate values:
1. Create a DataFrame with some NaN values and duplicates
2. Remove duplicates
3. Fill missing values
4. Create a new calculated column

In [6]:
# Create DataFrame with missing values and duplicates
messy_data = {
    'Item': ['A', 'B', 'A', 'C', 'D'],
    'Quantity': [10, np.nan, 10, 30, 40],
    'Price': [100, 200, 100, np.nan, 400]
}
messy_df = pd.DataFrame(messy_data)
print("Original messy DataFrame:")
print(messy_df)

# Remove duplicates
clean_df = messy_df.drop_duplicates()
print("\nAfter removing duplicates:")
print(clean_df)

# Fill missing values
clean_df['Quantity'] = clean_df['Quantity'].fillna(clean_df['Quantity'].mean())
clean_df['Price'] = clean_df['Price'].fillna(clean_df['Price'].mean())
print("\nAfter filling missing values:")
print(clean_df)

# Add total value column
clean_df['Total_Value'] = clean_df['Quantity'] * clean_df['Price']
print("\nWith calculated total value:")
print(clean_df)

Original messy DataFrame:
  Item  Quantity  Price
0    A     10.00 100.00
1    B       NaN 200.00
2    A     10.00 100.00
3    C     30.00    NaN
4    D     40.00 400.00

After removing duplicates:
  Item  Quantity  Price
0    A     10.00 100.00
1    B       NaN 200.00
3    C     30.00    NaN
4    D     40.00 400.00

After filling missing values:
  Item  Quantity  Price
0    A     10.00 100.00
1    B     26.67 200.00
3    C     30.00 233.33
4    D     40.00 400.00

With calculated total value:
  Item  Quantity  Price  Total_Value
0    A     10.00 100.00      1000.00
1    B     26.67 200.00      5333.33
3    C     30.00 233.33      7000.00
4    D     40.00 400.00     16000.00

/var/folders/31/b9pwgxyd4rz86p81hzwb44bm0000gn/T/ipykernel_95400/457195651.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Quantity'] = clean_df['Quantity'].fillna(clean_df['Quantity'].mean())
/var/folders/31/b9pwgxyd4rz86p81hzwb44bm0000gn/T/ipykernel_95400/457195651.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Price'] = clean_df['Price'].fillna(clean_df['Price'].mean())
/var/folders/31/b9pwgxyd4rz86p81hzwb44bm0000gn/T/ipykernel_95400/457195651.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Total_Value'] = clean_df['Quantity'] * clean_df['Price']

## Exercise 6: Challenge Exercise

Create a more complex analysis combining multiple operations:
1. Merge the sales_df with a new DataFrame containing supplier information
2. Calculate profit margins (assume cost is 60% of price)
3. Create a summary report showing top performing products by profit

In [7]:
# Create supplier DataFrame
supplier_data = {
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Headphones'],
    'Supplier': ['SupplierA', 'SupplierB', 'SupplierA', 'SupplierC', 'SupplierB'],
    'Lead_Time_Days': [15, 10, 12, 5, 7]
}
supplier_df = pd.DataFrame(supplier_data)

# Merge DataFrames
merged_df = sales_df.merge(supplier_df, on='Product')

# Calculate profits
merged_df['Cost'] = merged_df['Price'] * 0.6
merged_df['Profit_Per_Unit'] = merged_df['Price'] - merged_df['Cost']
merged_df['Total_Profit'] = merged_df['Profit_Per_Unit'] * merged_df['Units_Sold']

# Create summary report
print("Product Performance Summary:")
summary = merged_df.sort_values('Total_Profit', ascending=False)
print(summary[['Product', 'Supplier', 'Units_Sold', 'Total_Profit']])

# Supplier performance
print("\nSupplier Performance Summary:")
supplier_summary = merged_df.groupby('Supplier').agg({
    'Total_Profit': 'sum',
    'Units_Sold': 'sum',
    'Lead_Time_Days': 'mean'
}).round(2)
print(supplier_summary)

Product Performance Summary:
      Product   Supplier  Units_Sold  Total_Profit
1       Phone  SupplierB         120      38400.00
0      Laptop  SupplierA          50      24000.00
3       Watch  SupplierC         200      24000.00
2      Tablet  SupplierA          80      16000.00
4  Headphones  SupplierB         150       9000.00

Supplier Performance Summary:
           Total_Profit  Units_Sold  Lead_Time_Days
Supplier
SupplierA      40000.00         130           13.50
SupplierB      47400.00         270            8.50
SupplierC      24000.00         200            5.00