# Pandas Exercises

This notebook provides a series of exercises to help you practice using pandas for data manipulation.

In [1]:
import pandas as pd

## Exercise 1: Creating DataFrames

1. Create a pandas DataFrame named `df_1` from the following dictionary:
   ```
   data = {
       'name': ['Alice', 'Bob', 'Charlie', 'David'],
       'age': [25, 30, 22, 28],
       'city': ['New York', 'London', 'Paris', 'Tokyo']
   }
   ```
2. Print the DataFrame.

In [2]:
# Exercise 1 Solution Here

## Exercise 2: Basic DataFrame Inspection

1. Create a pandas DataFrame named `df_2` from the following list of lists:
   ```
   data = [
       ['apple', 1.2], 
       ['banana', 0.8], 
       ['cherry', 2.0], 
       ['date', 1.5]
   ]
   columns = ['fruit', 'price']
   ```
2. Print the first 2 rows of `df_2` using `.head()`
3. Print the last 2 rows of `df_2` using `.tail()`
4. Get the shape of the DataFrame (number of rows and columns) and print it.
5. Print the column names.

In [3]:
# Exercise 2 Solution Here

## Exercise 3: Selecting Data

1. Using `df_1` from Exercise 1, select and print the 'name' column.
2. Select and print the row where the 'age' is 30.
3. Select and print the 'name' and 'city' columns for all rows where age is greater than 25

In [4]:
# Exercise 3 Solution Here

## Exercise 4: Modifying DataFrames
1. Add a new column named 'occupation' to `df_1`. Use the following values in order : 'Engineer', 'Teacher', 'Artist', 'Doctor'
2. Change the age of Bob to 31 in `df_1`
3. Remove the 'city' column from the DataFrame `df_1`

In [5]:
# Exercise 4 Solution Here

## Exercise 5: Descriptive Statistics

1. Create a pandas DataFrame named `df_3` from the following dictionary:
    ```
   data = {
       'scores': [85, 92, 78, 95, 88, 79, 90]
    }
    ```
2. Calculate and print the mean, median, and standard deviation of the 'scores' column in `df_3`

In [6]:
# Exercise 5 Solution Here